<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/nav-style.css" />
    <link rel="stylesheet" href="./css/formpage.css" />
    <script src="https://use.fontawesome.com/36d660b0bd.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet" />
    <title>About Us</title>
</head>

<body>
    <%- include("../partials/_header") %>

        <main class="main-form">
            <div class="container">
                    <form action="/contact" method="POST">
                        <div class="form about">
                            <h1>About</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus eius at, esse aperiam eligendi totam dolores. Ratione, quod? Ipsa et repudiandae cum expedita dolorem, voluptatum obcaecati enim asperiores. Laboriosam odit obcaecati corrupti eveniet
                    molestias? Non, sit. Maiores aliquam, quaerat explicabo nisi delectus soluta ipsam laborum accusantium, neque quod vitae consequuntur impedit similique dolorem sequi. Facere ea rem ipsam maiores nesciunt, dolorum eos, accusamus laborum
                    sapiente rerum autem a excepturi nulla eligendi modi illum at, voluptate aliquam consequuntur fugit sit debitis! Architecto aperiam voluptatem possimus cum odio ea, harum similique incidunt dolor saepe pariatur, ullam molestiae velit
                    corporis. Rem, aut quos!</p>
                        </div>
                    </form>
            </div>
        </main>

        <script src="/js/script.js"></script>
</body>

</html>
