<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/formpage.css" />
    <title>Ace Blog admin panel</title>
</head>

<body>
    <%- include("../partials/_authfailedbanner") %>

        <main>
            <div class="container">
                <form action="/admin" method="POST">
                    <div class="form">
                        <h1>Create Post</h1>
                        <input type="text" name="title" placeholder="article title" required autofocus />
                        <textarea style="width: 100%; height: 20rem" type="text" name="body" placeholder="article body" required autofocus></textarea>
                        <button type="submit" class="btn">create post</button>
                    </div>
                </form>
            </div>
        </main>
</body>

</html>