<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/nav-style.css" />
    <script src="https://use.fontawesome.com/36d660b0bd.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap"
      rel="stylesheet"
    />
    <title>Ace Blog</title>
  </head>
  <body>
    <%- include("../partials/_header") %>

    <main>
      <div class="article">
        <h1 class="article-title">Something catchy should go in here</h1>
        <h2 class="article-snippet">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat,
          mollitia deleniti reprehenderit eius libero ab consequatur accusamus
          beatae molestiae animi.
        </h2>

        <div class="bottom-items">
          <h4 class="time-posted">14th of June 2021</h4>
          <h4 class="reads">2,345 views</h4>
        </div>
      </div>
    </main>

    <script src="./js/script.js"></script>
  </body>
</html>
