.main-form {
    margin-top: 4rem;
}

.form {
    text-align: center;
    background-color: var(--white);
    margin: 3rem 0.1rem;
    padding: 2rem;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.form h1 {
    font-family: 'Nerko One', cursive;
    font-weight: 100;
    margin-bottom: 1.5rem;
    color: var(--dark-blue);
}

.form input,
.form textarea {
    padding: 1rem 0;
    margin: 0.8rem auto;
    width: 100%;
    border: none;
    outline: none;
    text-transform: capitalize;
    border-bottom: 1px solid var(--dark-blue);
}

.form textarea {
    height: 4rem;
}

@media screen and (min-width: 700px) {
    .text {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    input:first-child {
        margin-right: 1rem;
    }
}

@media screen and (min-width: 1000px) {
    .main-form {
        margin-top: 4rem;
    }
}