.container-index {
    width: 90%;
    margin: auto;
}

.main-index {
    margin-top: 5rem;
}

.article {
    margin: 1rem 0.1rem;
    border-radius: 5px;
    height: auto;
    padding: 2rem;
    background: var(--very-light-gray);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.article-title {
    font-family: 'Nerko One', cursive;
    font-weight: 300;
}

.article-snippet {
    /* height: 100px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    font-weight: 100;
    margin: 1.5rem auto;
    width: 100%;
    line-height: 1.5;
    text-align: justify;
       
}

.bottom-items {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: 0.5rem 0rem 0.5rem 0rem;
}

.reads,
.time-posted {
    font-family: 'Nerko One', cursive;
    font-size: 0.8rem;
    margin-top: 1rem;
    font-weight: 100;
}

.reads {
    color: var(--line-green);
}

@media screen and (min-width: 600px) {
    /* .article-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    } */
}

@media screen and (min-width: 1000px) {
    .container-index {
        width: 80%;
        margin: auto;
    }
    /* .article-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    } */
}

@media screen and (min-width: 1400px) {
    .container-index {
        width: 1200px;
        margin: auto;
    }
}