.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3rem;
  width: 30rem;
  height: 15rem;
  border-radius: 2rem;
  padding: 2rem;
  background-color: rgb(245, 245, 245);
}
.article-title {
  font-family: "Nerko One", cursive;
  font-size: 2rem;
  font-weight: 300;
}
.article-snippet {
  font-size: 0.8rem;
  font-weight: 100;
  margin-top: 1rem;
  width: 100%;
  height: 15.5rem;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bottom-items {
  display: flex;
  align-self: center;
  width: 70%;
  justify-content: space-between;
  margin: 0.5rem 0rem 0.5rem 0rem;
}
.reads,
.time-posted {
  font-family: "Nerko One", cursive;
  font-size: 0.9rem;
  margin-top: 2rem;
  font-weight: 100;
}
.reads {
  color: teal;
}

@media screen and (min-width: 1024px) {
  .article {
    height: 30rem;
    width: 70%;
  }
  .article-title {
    font-size: 4rem;
  }
  .article-snippet {
    font-size: 1.7rem !important;
  }
  .reads,
  .time-posted {
    font-size: 1.3rem !important;
  }
}
