<header>
    <div class="visible">
      <!-- site name -->
      <div class="name"><h1>AceBlog</h1></div>

      <!-- open menu tray for mobile mode -->
      <i class="fa fa-2x fa-bars"></i>

      <!-- close nav tray for mobile -->
      <i
        class="fa fa-2x fa-close"
        aria-hidden="true"
      ></i>
    </div>

      <!-- nav tray -->
      <nav>
        <ul class="nav-items">
          <li class="nav-item"><a href="/">home</a></li>
          <li class="nav-item"><a href="/">about</a></li>
          <li class="nav-item"><a href="/contact">contact</a></li>
          <li class="nav-item"><a href="/">updates</a></li>
          <li class="nav-item login"><a href="/login">login</a></li>
          <li class="nav-item logout"><a href="/logout">log out</a></li>
          </ul>
      </nav>
  </header>